<template>

    <div>
        <h1>Create Measure</h1>

 <form @submit.prevent="save">
  <div class="mb-3">
    <label for="" class="form-label">Sample id</label>
    <input type="text" v-model="measure.sample_id" class="form-control" >
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Value</label>
    <input type="text" v-model="measure.value" class="form-control" >
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Register date</label>
    <input type="text" v-model="measure.register_date" class="form-control">
  </div>
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>

    <div class="container ">
        <h1>Listado de usuarios</h1>
        <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Sample_Id</th>
      <th scope="col">Value</th>
      <th scope="col">Register date</th>
      <th scope="col">Actions</th>

    </tr>
  </thead>
  <tbody>
   

    <tr v-for="measure in results" v-bind:key="measure.id_measure">
        <th scope="row">{{ measure.id_measure }}</th>
        <td>{{ measure.sample_id }}</td>
        <td>{{ measure.value }}</td>
        <td>{{ measure.register_date }}</td>

        <td>
        <button type="button" class="btn btn-warning" @click="edit(measure)">Edit</button>
        <button type="button" class="btn btn-danger" @click="destroy(measure)">Delete</button>

        </td>

    </tr>

  </tbody>
</table>
    </div>
</template>

<script>
   
    import axios from 'axios';
   

    export default{
        name: "Listado",
        data() {
            return {
                results: {},
                measure:{
                    id_measure: '',
                    sample_id: '',
                    value: '',
                    register_date: '',
                }
            }
        },
        created() {
            this.item();
        },
      

        methods: {
            item()
            {
                axios.get("http://localhost/back_construyendo_pacifico/public/api/lista_medida")
                .then(
                    ({data})=> {
                        console.log(data.measure); 
                        this.results =  data.measure;
                        //console.log(results)
                    }
                );
            },
            save(){
                if (this.measure.id_measure == '') {
                    this.saveData();
                }
                else{
                    this.updateData();
                }
            },
            saveData(){
                axios.post("http://localhost/back_construyendo_pacifico/public/api/almacenar_medidas", this.measure)
                .then(
                    ({data}) => {
                        alert("Guardado exisotosamente");
                        this.item();
                    }
                )

            },
            edit(measure){
                this.measure = measure;
            },
            updateData()
            {
                var url = "http://localhost/back_construyendo_pacifico/public/api/actualizar_medida/" + this.measure.id_measure;
                axios.put(url, this.measure)
                .then(
                    ({data}) => {
                        this.measure.id_measure = '';
                        this.measure.sample_id = '',
                        this.measure.value = '',
                        this.measure.register_date = '',
                        alert('Actualizado');
                        this.item();
                    }
                );
            },
            destroy(measure){
                var url = "http://localhost/back_construyendo_pacifico/public/api/eliminar_medida/" + measure.id_measure;
                axios.delete(url)
                alert('Borradoo');
                this.item()
            }
        },
    }
</script>